.detalles-container {
  padding-top: 20px;
}

.detalle-imagen {
  max-height: 400px;
  object-fit: contain;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding: 15px;
}

.detalle-titulo {
  font-size: 1.8em;
  font-weight: 700;
}

.detalle-precio {
  font-size: 1.5em;
  color: #28a745;
  font-weight: bold;
}
